<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit ></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a style="cursor:pointer" class="list-group-item clearfix" *ngFor="let ingredient of ingredients;let i = index" (click)="getIndex(i)">
      {{ ingredient.name }} ({{ ingredient.amount }})
      <i class="glyphicon glyphicon-trash danger pull-right" (click)="delete(i)" *ngIf="isIngredients"></i>
      </a>
    </ul>
    <button class="btn btn-success" type="button" (click)=onAddTocart()>Add To Cart</button>
  </div>
</div>