<div class="bodyc">
  <div class="container">
    <h1 class="brand"><span>Recipe Book</span> Service</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Recipe Book Service</h3>
        <ul>
          <li><i class="fa fa-road"></i> 44/13 Kandy main st</li>
          <li><i class="fa fa-phone"></i> (081) 555-5555</li>
          <li><i class="fa fa-envelope"></i> sl@recipe.com</li>
        </ul>
      </div>

      <div class="contact">
        <h3>Email Us</h3>
        <form 
          (submit)="onSendDetails()"
          #detailsForm="ngForm">

          <p>
            <!-- <label>Name</label> -->
            <input 
              name="name"
              ngModel
              type="text"
              placeholder="Name"
              required>
          </p>
          <p>
            <!-- <label>Address</label> -->
            <input 
              name="address"
              ngModel
              type="text"
              placeholder="Address"
              required>
          </p>
          <p>
            <!-- <label>Email Address</label> -->
            <input 
              type="email" 
              ngModel
              name="email"
              placeholder="E-mail"
              required
              >
          </p>
          <p>
            <!-- <label>Phone Number</label> -->
            <input 
              type="text" 
              ngModel
              name="phone"
              placeholder="Phone">
          </p>
          <p class="full">
            <!-- <label>Message</label> -->
            <textarea name="message" ngModel placeholder="Message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>